{% extends "layout.twig.html" %}

{% block content %}

    <h1>Édition d'un message</h1>

    <form method="post" action="/messages/update">
        <input type="hidden" name="message[id]" value="{{ message.id }}">
        <div class="form-group">
            <label for="text">Texte</label>
            <textarea class="form-control" rows="3" id="text" name="message[text]">{{ message.text }}</textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

{% endblock %}