{% extends "layout.twig.html" %}

{% block content %}

    <h1>Ajout d'un utilisateur</h1>

    <form method="post" action="/users/add">
        <div class="form-group">
            <label for="firstname">Firstname</label>
            <textarea class="form-control" rows="3" id="firstname" name="user[firstname]"></textarea>
             <label for="lastname">Lastname</label>
            <textarea class="form-control" rows="3" id="lastname" name="user[lastname]"></textarea>
             <label for="email">Email</label>
            <textarea class="form-control" rows="3" id="email" name="user[email]"></textarea>
             <label for="password">Password</label>
            <textarea class="form-control" rows="3" id="password" name="user[password]"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

{% endblock %}