{% extends "layout.twig.html" %}

{% block content %}

    <h1>Accueil du microblog</h1>

    <div class="panel panel-default">
        <div class="panel-body">
    {% if users %}
        {% for user in users %}
            <article>
                <p>{{ user.firstname }} {{ user.lastname }}</p>
                <p>{{ user.email }}</p>
                <div>
                   <!-- <a class="btn btn-warning" href="/users/edit/{{ user.id }}" role="button">Modifier</a>
                    <a class="btn btn-danger" href="/users/delete/{{ user.id }}" role="button">Supprimer</a> -->
                </div>
            </article>
        {%  endfor %}

    {% else %}
        <p>Aucun Utilisateur.</p>
    {%  endif %}
        </div>
        <div class="panel-footer">
            <a class="btn btn-default" href="/users/new" role="button">Ajouter un utilisateur</a>
        </div>
    </div>
{% endblock %} 
